body{
    font-family: Arial;
    background-color:rgb(224, 228, 230);
    margin: 0 2rem;
    padding: 1rem;
    border-width: 1rem;
}

.Title{
    background:dodgerblue;
    text-align:center;
}

h1,h2{
    color:white;
    background-color: tomato;
    padding:1rem;
}
p{
    margin:0rem;
}
.section{
    border: solid tomato;
    border-width:0 0 1px 0;
}
.tomato{
    background-color:tomato;
}
.blue{
    background-color:dodgerblue;
}
.colors{
    background-color:rgba(165, 167, 170, 0.726);
    padding: 1rem;
    margin: 1rem;
}
.square{
    display:inline-block;
    width:5rem;
    height: 5rem;
}

img{
    height: 10rem;
    width:10rem;
    border-radius: 5rem;
}
.tomatoFont{
    color:tomato;
}
.blueFont{
    color: dodgerblue;
}
