body{
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    margin: 200 px
}

.Title{
    background:dodgerblue;
    text-align:center;

}

h1,h2{
    color:white;
    background-color: tomato
}
.tomato{
    background-color:tomato;
    
}
.square{
    display:inline-block;
    width:5rem;
    height: 5rem;
    

}

img{
    width: 10rem;
}

